#!/usr/bin/python3
import boto3
import sys

instanceid = sys.argv[1]
nregion = sys.argv[2]

def disk():
    client = boto3.client('rds', region_name=nregion)
    responsedx = client.describe_db_instances()
    for v in responsedx['DBInstances']:
     if v['DBInstanceIdentifier'] == instanceid:
        filtredInstance = v
    alocado = filtredInstance['AllocatedStorage']
    print(alocado)
disk()